<!-- <app-register-page></app-register-page> -->
<section class="profile-authentication-area ptb-100">
  <div class="container">
      <div class="row">
          <div class="login-container col-lg-6 col-md-12">
              <div class="login-form">
                  <h2 id="loginBanner">Login</h2>

                  <form>
                      <div class="form-group">
                          <label id="email">Introduzca email</label>
                          <input type="text" class="form-control" placeholder="Nutzername oder E-Mail-Adresse" name="username">
                      </div>

                      <div class="form-group">
                          <label id="password">Contraseña</label>
                          <input type="password" class="form-control" placeholder="Passwort" name="password">
                      </div>

                      <button type="submit" id="loginButton">LOGIN</button>
                  </form>
              </div>
              <!-- <div *ngIf="errorMessage" class="alert alert-danger mt-2" role="alert">
                {{errorMessage}}
              </div> -->
          </div>
      </div>
  </div>
</section>
