<ion-header>
  <!-- <header>
    <div class="toolbar">
      <h1 class="centered-title">Login Page</h1>
    </div>
  </header> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="profile-authentication-area">
    <ion-card>
      <div class="container">
        <div class="row">
          <div class="login-container">
            <div class="login-form">


                  <ion-label id="email">Introduzca email</ion-label>
                  <!-- <input type="email" id="login-email" class="form-control" placeholder="Introduzca email"
                    name="username"> -->
                    <ion-item lines="none">
                      <ion-input 
                      placeholder="Introduzca email" 
                      [value]="loginEmail"
                      (ionInput)="onInputEmail($event)"
                      #ionInputEl></ion-input>
                    </ion-item>
              
                <br>
                  <ion-label id="password">Contraseña</ion-label>
                  <!-- <input type="password" id="login-passwd" class="form-control" placeholder="Contraseña"
                    name="password"> -->
                    <ion-item lines="none">
                      <ion-input 
                      placeholder="Contraseña" 
                      [value]="loginPasswd"
                      (ionInput)="onInputPassword($event)"
                      #ionInputE2></ion-input>
                    </ion-item>
                <br>
                <div class="button-container">
                  <ion-button (click)="login()">LOGIN</ion-button>
                </div>
            </div>
            <p>Not registered yet?</p>
            <div class="button-container">
              <ion-button routerLink="/register" routerLinkActive="active">Register now</ion-button>
            </div>
            <!-- <div *ngIf="errorMessage" class="alert alert-danger mt-2" role="alert">
                {{errorMessage}}
              </div> -->
          </div>
        </div>
      </div>
    </ion-card>
  </section>
</ion-content>
<app-footer></app-footer>