<ion-header>
  <ion-toolbar>
    <ion-title>Favourite Recipes</ion-title>
    <app-menu-buttons-item slot="end"></app-menu-buttons-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="web-center-container">

    <ion-card *ngFor="let item of favouriteRecipes" (click)="goDetail(item)">
      <ion-img src={{item.image}} alt="Imagen"></ion-img>
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToSearch()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button id="delete-fav-list-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
      <ion-alert class="custom-alert" trigger="delete-fav-list-button" header="Alert" subHeader="Important message"
        message="Are you sure about deleting your hole favourite recipes list?" [buttons]="alertButtons">
      </ion-alert>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<app-footer></app-footer>