  .web-center-container{
    margin: 0 auto;
    max-width: 600px;
  }
  ion-card{
    --background: white;
    padding: 10px;
  }
  ion-card-title {
    --color: rgb(92, 173, 64);
    font-weight: bold;
  }
  ion-image{
    border-radius: 8px;
  }
  ion-fab-button{
  --background: rgb(92, 173, 64); 
  --background-activated: #7cc558;
  --background-hover: #7cc558;
  --color: white;
  }
