<ion-header>
  <header>
    <div class="toolbar">
      <h1 class="centered-title">Favourite Recipes</h1>
    </div>
  </header>
</ion-header>
<ion-content>
  <section class="favourites-area ptb-100">
    <!-- Aqui debería ser un maestro de recetas -->
    <!-- <ion-card> -->
      <div class="favourites-container">
        <div class="div-master ptb-100">
          <div *ngFor="let item of favouriteRecipes">
            <ion-card>
              <a (click)="goDetail(item)"> 
              <div class="card-content">
                <div class="image-container">
                  <img src={{item.image}} alt="Imagen">
                </div>
                <h2 class="card-title">{{item.title}}</h2>
              </div>
            </a>
            </ion-card>
          </div> 
        </div>
      </div>
    <!-- </ion-card> -->
  </section>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToSearch()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button id="delete-fav-list-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
      <ion-alert 
              class="custom-alert"
              mode="ios"
              trigger="delete-fav-list-button"
              header="Alert"
              subHeader="Important message"
              message="Are you sure about deleting your hole favourite recipes list?"
              [buttons]="alertButtons">
              </ion-alert>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<app-footer></app-footer>