<ion-header>
  <header>
    <div class="toolbar">
      <h1 class="centered-title">Search for Recipes</h1>
    </div>
  </header>
</ion-header>
<ion-content>
  <section class="search-area ptb-100">
    <ion-card>
      <div class="search-container">
        <form class="form">
          <div class="form-group">
            <label id="name">Escriba los ingredientes</label>
            <input type="text" id="search_text" class="form-control" placeholder="chicken, cheese, milk, etc">
          </div>
          <div class="button-container">
            <button type="button" id="searchButton" (click)="search()">SEARCH</button>
          </div>
        </form>
      </div>
      <div *ngIf="imageUrl!= ''" class="card-content">
        <div class="image-container">
          <img src={{imageUrl}} alt="Imagen">
        </div>
        <h2 class="card-title">{{recipeTitle}}</h2>
      </div>
    </ion-card>
  </section>
</ion-content>

