.web-center-container {
  margin: 0 auto;
  max-width: 600px;
}

ion-card {
  padding: 10px;
  --background: white;
}

ion-card-title {
  --color: rgb(92, 173, 64);
  font-weight: bold;
}

ion-image {
  border-radius: 8px;
}

ion-button {
  --background: rgb(92, 173, 64);
  --background-activated: #7cc558;
  --border-radius: 10px;
  font-weight: bold;
}

ion-fab-button {
  --background: rgb(92, 173, 64);
  --background-hover: #a3e681;
  --color: white;
}

ion-searchbar {
  --border-radius: 8px;
  --background: rgba(0, 128, 0, 0.2);

}

ion-toolbar.title {
  --background: rgb(92, 173, 64);
  --color: white;

}

ion-toolbar {
  --background: white;

}

ion-item {
  --background: white;
}

ion-input {
  --background: rgba(0, 128, 0, 0.2);
  --border-radius: 8px;
  margin-right: 10px;
}

ion-label {
  color: black;
}