<ion-header>
  <header>
    <div class="toolbar">
      <h1 class="centered-title">Search for Recipes</h1>
    </div>
  </header>
</ion-header>
<ion-content>
  <section class="search-area ptb-100">

    <ion-card *ngIf="!existResult">
      <div class="search-container">
        <form class="form">
          <div class="form-group">
            <label id="name">Escriba los ingredientes</label>
            <input type="text" id="search_text" class="form-control" placeholder="chicken, cheese, milk, etc">
          </div>
          <div class="button-container">
            <ion-button (click)="search()">SEARCH</ion-button>
          </div>
        </form>
      </div>
    </ion-card>
    <div class="div-master ptb-100" *ngIf="existResult">
      <div *ngFor="let item of recipes">
        <ion-card>
          <a (click)="goDetail(item)"> 
          <div *ngIf="imageUrl!= ''" class="card-content">
            <div class="image-container">
              <img src={{item.image}} alt="Imagen">
            </div>
            <h2 class="card-title">{{item.title}}</h2>
          </div>
        </a>
        </ion-card>
      </div> 
    </div>
  </section>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button *ngIf="existResult" (click)="showSearchBar()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer></app-footer>

<!-- [routerLink]="['/recipe-detail', item.id]" -->