<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<ion-header>
  <!-- <header>
    <div class="toolbar">
      <h1 class="centered-title">Recipe on Go</h1>
    </div>
  </header> -->
  <ion-toolbar>
    <ion-title>Your Shopping List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="image-container">

    <ion-img src="assets\logo.png" alt="foto" class="image"></ion-img>
  </div>
    
      <ion-list class="custom-ion-list">
          <ion-label *ngIf="isLogged">Welcome, {{userName}}</ion-label>
          <ion-title class="custom">Ready to start cooking Recipes?</ion-title>
      </ion-list>
      
      
      <ion-list *ngIf="!isLogged" class="custom-ion-list">
        <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
        <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
      </ion-list>
      <ion-list class="custom-ion-list">
        <ion-button *ngIf="!isLogged" routerLink="/search-recipe" routerLinkActive="active">Skip and start cooking
          <ion-icon name="search-outline" slot="end"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isLogged" routerLink="/search-recipe" routerLinkActive="active">Start cooking
          <ion-icon name="search-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-list>

      <!-- <ul class="nav-list">
        <div>
        
        </div>
        <div>
          
        </div>
      </ul> -->
        <!-- Este boton de abajo hace que la imagen de arriba se superponga al header, pa tenerlo en cuenta -->
        <!-- <li class="nav-item"><button type="button" id="large-homeButton"><a routerLink="/shopping-cart" class="nav-link" routerLinkActive="active">Shopping cart</a></button></li> -->
      <!-- <ion-list>
          <ion-button><a routerLink="/login" class="nav-link" routerLinkActive="active"></a>Login</ion-button>
          <ion-button><a routerLink="/register" class="nav-link" routerLinkActive="active"></a>Register</ion-button>
          <ion-button><a routerLink="/search-recipe" class="nav-link" routerLinkActive="active"></a>Skip and start cooking</ion-button>
      </ion-list> -->
</ion-content>
<ion-footer>
  <footer>
    <div class="toolbar">
      <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a>
      <a routerLink="/search-recipe" routerLinkActive="active"><i class="fas fa-search"></i></a>
      <a routerLink="/favourites" routerLinkActive="active"><i class="fas fa-heart"></i></a>
      <a routerLink="/shopping-cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
      <a *ngIf="isLogged" routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i></a>
      <!-- <a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i></a> -->
    </div>
  </footer>
</ion-footer>
