<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
  <ion-header>
    <ion-toolbar>
      <ion-title>Recipe on go</ion-title>
      <ion-buttons slot="end" *ngIf="platform == 'web'">
        <!-- <ion-label>Menu</ion-label> -->
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
      <div class="image-container">
          <ion-img src="assets\logo.png" alt="foto" class="image"></ion-img>
      </div>
        
          <ion-list class="custom-ion-list" mode="md">
              <ion-label *ngIf="isLogged">Welcome, {{userName}}</ion-label>
              <ion-title class="custom">Ready to start cooking Recipes?</ion-title>
          </ion-list>
          
          
          <ion-list *ngIf="!isLogged" class="custom-ion-list">
            <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
            <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
          </ion-list>
          <ion-list class="custom-ion-list">
            <ion-button *ngIf="!isLogged" routerLink="/search-recipe" routerLinkActive="active">Skip and start cooking
              <ion-icon name="search-outline" slot="end"></ion-icon>
            </ion-button>
            <ion-button *ngIf="isLogged" routerLink="/search-recipe" routerLinkActive="active">Start cooking
              <ion-icon name="search-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-list>
        </div>
  </ion-content>
  <ion-footer *ngIf="platform !== 'web'">
    <footer>
      <div class="toolbar">
        <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a>
        <a routerLink="/search-recipe" routerLinkActive="active"><i class="fas fa-search"></i></a>
        <a routerLink="/favourites" routerLinkActive="active"><i class="fas fa-heart"></i></a>
        <a routerLink="/shopping-cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
        <a *ngIf="isLogged" routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i></a>
        <!-- <a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i></a> -->
      </div>
    </footer>
  </ion-footer>
