footer {
  background-color: rgb(92, 173, 64);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar {
  display: flex;
  justify-content: space-around;
}
.toolbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.toolbar i {
  margin: 0 10px;
}
.container {
  margin-top: 10%;
}
.image-container {
  margin: 0 auto;
  max-width: 500px;
}
ion-button{
  --background: rgb(92, 173, 64);
  --background-activated: #7cc558;
  --border-radius: 10px;
  font-weight: bold;
}
ion-title.custom{
  margin-bottom: 10px;
  --color: rgb(92, 173, 64);
  font-weight: bold;
}
ion-list.custom-ion-list{
  text-align: center;
  background-color: white;
}

ion-card{
  padding: 10px;
}