<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Register Page</ion-title>
    <app-menu-buttons-item slot="end"></app-menu-buttons-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="web-center-container">
    <ion-card>
      <ion-label id="name">Nombre</ion-label>
      <ion-item lines="none">
        <ion-input placeholder="Name" [value]="registerName" (ionInput)="onInputName($event)" #ionInputEl></ion-input>
      </ion-item>

      <br>

      <ion-label id="email">Introduzca email</ion-label>
      <ion-item lines="none">
        <ion-input type="email" placeholder="Introduzca email" [value]="registerEmail" (ionInput)="onInputEmail($event)"
          #ionInputE2></ion-input>
      </ion-item>

      <br>

      <ion-label id="password">Contraseña</ion-label>
      <ion-item lines="none">
        <ion-input type="password" placeholder="Contraseña" [value]="registerPasswd"
          (ionInput)="onInputPassword($event)" #ionInputE3></ion-input>
      </ion-item>

      <br>
      <ion-list>

        <ion-button (click)="register()">REGISTER</ion-button>
        <br><br>
        <ion-label>Already registered? Go to Login</ion-label>
        <br>
        <ion-button routerLink="/login" routerLinkActive="active">Login now</ion-button>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>