  .web-center-container {
    margin: 0 auto;
    max-width: 700px;
  }

  ion-card {
    margin-top: 20%;
    --background: white;
    padding: 20px;
    align-items: center;
  }

  ion-button {
    --background: rgb(92, 173, 64);
    --background-activated: #7cc558;
    --border-radius: 10px;
    font-weight: bold;
  }

  ion-input {
    --background: rgba(0, 128, 0, 0.2);
    --border-radius: 8px;
  }

  ion-list {
    text-align: center;
  }