<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<ion-footer>
  <footer>
    <div class="toolbar">
      <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a>
      <a routerLink="/search-recipe" routerLinkActive="active"><i class="fas fa-search"></i></a>
      <a routerLink="/favourites" routerLinkActive="active"><i class="fas fa-heart"></i></a>
      <a routerLink="/shopping-cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>

      <a *ngIf="isLogged" routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i></a>
      <a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i></a>
      
    </div>
  </footer>
</ion-footer>
