footer {
    background-color: rgb(92, 173, 64);
    padding: 10px;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-around;
  }
  
  .toolbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .toolbar i {
    margin: 0 10px;
  }