<ion-header>
  <!-- <header>
    <div class="toolbar">
      <h1 class="centered-title">{{recipeTitle}}</h1>
    </div>
  </header> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipeTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head> -->
  <!-- <section class="search-area ptb-100">
  </section> -->
  <div class="web-center-container">
    <ion-card>
                <ion-img src={{imageUrl}} alt="Imagen" *ngIf="imageUrl != 'https://spoonacular.com/recipeImages/624304-312x231.jpg'"></ion-img>
  
                <ion-card-header *ngIf="imageUrl == 'https://spoonacular.com/recipeImages/624304-312x231.jpg'">
                  <ion-card-title>{{recipeTitle}}</ion-card-title>
                </ion-card-header>
                <ion-toggle #myToggle *ngIf="user_uid" (click)="toggleFavorite()">Mark as favourite:</ion-toggle>
                <ion-card-content>
  
                </ion-card-content>
              <ion-list *ngIf="navFromFavs">
  
                <ion-title class="custom" mode="md">Extended ingredients</ion-title>
                <p class="card-p-text" *ngFor="let item of extendedIngredients">{{item.original}}</p>
              </ion-list>
              <ion-list *ngIf="!navFromFavs">
  
                <ion-title class="custom" mode="md">Used ingredients</ion-title>
                <p class="card-p-text" *ngFor="let item of usedIngredients">{{item.original}}</p>
                <ion-title class="custom" mode="md">Missing ingredients</ion-title>
                <p class="card-p-text" *ngFor="let item of missingIngredients">{{item.original}}</p>
              </ion-list>
  
  
              <ion-title class="custom" mode="md">Recipe Intructions</ion-title>
              <p class="card-p-text" *ngFor="let item of recipeIntructions">{{item.number}}. {{item.step}}</p>
              
  
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>