<ion-header>
  <header>
    <div class="toolbar">
      <h1 class="centered-title">Profile Page</h1>
    </div>
  </header>
</ion-header>
<ion-content>
  <section class="profile-authentication-area">
    <ion-card>
        <div class="row">
          <div class="register-container">
            <div class="register-form">

              <h2>Información de usuario</h2>
              <form class="form">
                <div class="form-group">
                  <label id="name">Nombre</label>
                  <h3 id="email">* Nombre del User*</h3>
                </div>

                <div class="form-group">
                  <label id="email">Email</label>
                  <h3 id="email">* Email del User*</h3>
                </div>

                <div class="form-group">
                  <label id="password">Cambiar contraseña Contraseña (??)</label>
                  <input type="password" id="register-passwd" class="form-control" placeholder="Contraseña"
                    name="password">
                </div>
                <div class="button-container">
                  <ion-button (click)="changePassword()">Cambiar Contraseña ?</ion-button>
                </div>
              </form>
            </div>
            <!-- <div *ngIf="errorMessage" class="alert alert-danger mt-2" role="alert">
                {{errorMessage}}
              </div> -->
          </div>
        </div>
    </ion-card>
    <ion-card>
          <div class="register-container">
                <div class="button-container">
                  <ion-label>Pulsa Para cerrar sesión</ion-label>
                  <ion-button id="log-out-button" color="danger">Log Out</ion-button>
                  <ion-label>Pulse para eliminar su cuenta</ion-label>
                  <ion-button id="delete-account-button" color="danger">Delete Account</ion-button>
              
                  <ion-alert 
              class="custom-alert"
              mode="ios"
              trigger="log-out-button"
              header="Alert"
              subHeader="Important message"
              message="Are you sure about logging out?"
              [buttons]="alertButtons1">
              </ion-alert>
              <ion-alert 
              class="custom-alert"
              mode="ios"
              trigger="delete-account-button"
              header="Alert"
              subHeader="Important message"
              message="Are you sure about deleting your account?"
              [buttons]="alertButtons2">
              </ion-alert>
                </div>
          </div>
    </ion-card>
  </section>
</ion-content>
<app-footer></app-footer>