  .web-center-container{
    margin: 0 auto;
    max-width: 700px;
  }
  ion-card {
    --background: white;
    margin-top: 20px;
  }
  ion-button{
    --background: rgb(92, 173, 64);
    --background-activated: #7cc558;
    --border-radius: 10px;
    font-weight: bold;
  }
  ion-input{
    --background: rgba(0, 128, 0, 0.2);
    --border-radius: 8px;
    --border-color: white;
    padding: 10px;
  }
  ion-toolbar.shoppingList-footer-toolbar{
    --background: white;
  }  
  ion-list {
    text-align: center;
    background-color: white;
  }
  ion-item{
    --background: white;
  }