<ion-header>
  <ion-toolbar>
    <ion-title>Your Shopping List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngFor="let item of shoppingList">
      <ion-card *ngIf="item != ''"> 
        
        <div  class="card-content">
          <ion-card-title color="medium">{{item}}</ion-card-title>
          <!-- <h2 class="card-title">{{item}}</h2> -->
          <ion-icon name="close-circle" size="large" (click)="deleteListItem(item)"></ion-icon>
        </div>
      </ion-card>
    </div> 
  
</ion-content>
<ion-toolbar class="shoppingList-footer-toolbar">
  <ion-card>
    <ion-card-content>

            <ion-label id="name">Escriba los alimentos</ion-label>
            <!-- <input type="text" id="input_text" class="form-control" placeholder="Rice"> -->
            <ion-item lines="none" mode="md">
              <ion-input 
              placeholder="rice" 
              [value]="inputText"
              (ionInput)="onInputText($event)"
              #ionInputEl
              [counter]="true" maxlength="20"></ion-input>
            </ion-item>

            <ion-list class="toolbar">
              <ion-button (click)="add_to_database()">
                <ion-icon slot="start" name="arrow-up-outline"></ion-icon>
                Update
              </ion-button>
              <ion-button id="delete-list-button" color="danger">
                <ion-icon slot="start" name="close-outline"></ion-icon>
                Delete List
              </ion-button>
              <ion-alert 
              class="custom-alert"
              mode="ios"
              trigger="delete-list-button"
              header="Alert"
              subHeader="Important message"
              message="Are you sure about deleting the hole shopping list?"
              [buttons]="alertButtons">
              </ion-alert>
            </ion-list>
  </ion-card-content>
  </ion-card>
</ion-toolbar>
<app-footer></app-footer>