header {
    background-color: rgb(92, 173, 64);
    padding: 1px;
  }
  
  .toolbar {
    text-align: center;
  }
  
  .centered-title {
    color: white;
    font-weight: bold;
  }
  .form-control {
    background-color: rgba(0, 128, 0, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
.shopping-list-area {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
      flex-direction: column;
  }
  .shopping-list-container {
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  #searchButton {
    margin-top: 10px;
    background-color: rgb(92, 173, 64);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    width: 50%;
    height: 30%;
    font-weight: bold;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .form {
    align-items: center;
  }
  #search_text{
    margin-top: 10px;
  }
  ion-card {
    --background: white;
    margin-top: 20px;
  }
  ion-button{
    --background: rgb(92, 173, 64);
    --border-radius: 10px;
    font-weight: bold;
  }
  ion-input{
    --background: rgba(0, 128, 0, 0.2);
    --border-radius: 8px;
    padding: 10px;
  }
  
  .card-content {
    padding: 10px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }